<div class="container-fluid border rounded p-4">
    <h2 class="border rounded pb-2">About Us</h2>
    <p>Beniwal Corp. is a consultancy company specializing in a wide array of services, ranging from cutting-edge web
        technologies to comprehensive digital solutions. With a dedication to innovation and excellence, we strive to
        deliver tailored strategies and top-notch services to meet the diverse needs of our clients. Whether it's web
        development, software solutions, or digital marketing, Beniwal Corp. stands at the forefront, offering expertise
        and reliability you can count on.</p>
</div>