<h2>LOGIN</h2>

<table border="1">
    <!-- To ensure that the server and client DOM match, explicitly include a <tbody> tag in your template -->
  <tbody>
    <tr>
      <td>User ID</td>
      <td>
        <input type="text" #txtuserid>
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input type="password" #txtpassword>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="login(txtuserid.value, txtpassword.value)">
          Login
        </button>
      </td>
    </tr>
  </tbody>
</table>
