<div >
    <!-- <h1>Welcome To Beniwal Corp.</h1> -->

    <!-- <app-name1></app-name1> -->
    <!-- <app-login></app-login> -->

    <!-- <div>
        <a routerLink="login">Login</a> |
        <a routerLink="home">Home</a> |
        <a routerLink="contact">Contact Us</a> |
        <a routerLink="aboutus">About Us</a> |
        <a routerLink="student">Student</a> |
        <a routerLink="book">Book</a> |
        <a routerLink="details">Student Details</a> |
    </div> -->

    <router-outlet></router-outlet>

</div>
